---
import Layout from '../layouts/Layout.astro';
import type { ILink } from '../layouts/Layout.astro';

const dummyLinks: ILink[] = [
  {
    name: "Home",
    href: "/Blog-Web/",
  },
  {
    name: "Blog",
    href: "/Blog-Web/blog",
    target: "_blank",
  },
  {
    name: "LLMs",
    href: "#",
  },
];
---

<Layout links={dummyLinks}>
    <h1>Blog</h1>
</Layout>