---
import Layout from "../layouts/Layout.astro";

import {links as headerProps} from "../assets/data/index/headerLinks.json";
import {links as sidebarProps} from "../assets/data/index/sidebarLinks.json";

---
<Layout 
  title="Alles rund um Webtechnologien"
  description="Hier findest du alles rund um Webtechnologien, von HTML über CSS bis hin zu JavaScript. Egal, ob du Anfänger oder Fortgeschrittener bist, hier gibt es für jeden etwas zu entdecken. Tauche ein in die Welt der Webentwicklung und lerne, wie du beeindruckende Websites und Anwendungen erstellen kannst. Viel Spaß beim Erkunden!"
  keywords="Webtechnologien, HTML, CSS, JavaScript, Webentwicklung, Anfänger, Fortgeschrittene"
  headerLinks={headerProps}
  sidebarLinks={sidebarProps}
>
  <h1>Alles rund um Webtechnologien</h1>
</Layout>

<style>
	h1{
		text-align: center;
		padding: 16px;
		color: white;
		background-color: #d97706;
	}
</style>
