---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start
// fresh.
// <span>&rarr;</span>
---
<Layout
  title="Alles rund um Webtechnologien"
  description="Hier findest du alles rund um Webtechnologien, von HTML über CSS bis hin zu JavaScript. Egal, ob du Anfänger oder Fortgeschrittener bist, hier gibt es für jeden etwas zu entdecken. Tauche ein in die Welt der Webentwicklung und lerne, wie du beeindruckende Websites und Anwendungen erstellen kannst. Viel Spaß beim Erkunden!"
  keywords="Webtechnologien, HTML, CSS, JavaScript, Webentwicklung, Anfänger, Fortgeschrittene"
>
  <h1>Alles rund um Webtechnologien</h1>
</Layout>
