---
const date = new Date();
const year = date.getFullYear();
---
<footer>
    <div>
        <ul>
            <li>
                Copyright &copy; {year}
            </li>
            <li><a href="/Blog-Web/impressum">Impressum</a></li>
            <li><a href="/Blog-Web/datenschutz">Datenschutz</a></li>
        </ul>
    </div>
</footer>

<style>
    footer {
        background-color: rgb(240, 218, 54);
        padding: 16px;
        text-align: center;
        font-size: 14px;
    }

    footer a {
        color: #666;
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

    ul {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 8px 0 0 0;
    }

    li
    {
        margin: 0 8px;
    }
</style>