---
// const links = Astro.props;
const dummyLinks: Array<{name: string, href: string, target?: string}> = [
  {
    name: "Home",
    href: "/Blog-Web/",
  },
  {
    name: "Blog",
    href: "/Blog-Web/blog",
    target: "_blank",
  },
  {
    name: "Resources",
    href: "#",
  },
];
---

<header>
  <nav>
    <ul>
      {
        dummyLinks.map((link) => (
          <li>
            <a href={link.href} target={link.target}>
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <!-- <ul>
        <li><a href="#">Icon</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">Resources</a></li>
        </ul> -->
  </nav>
</header>
